## Build
build/
DerivedData/
*.xcarchive

## Xcode user state
xcuserdata/
*.xcuserstate
*.xcuserdatad/

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Packages
.build/
Packages/*/.build/
Packages/*/.swiftpm/xcode/xcuserdata/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcuserdata/

## Code signing
*.mobileprovision
*.cer

## Logs
*.log
